// SCSS 变量
// background color
$bg-success: #effff8;
$bg-danger: #fff2eb;
$bg-primary: #f5faff;
$bg-warning: #f9fce3;
$bg-info: #f8f7fc;
$bg-color: #f9f9f9;
$bg-thin-color: #f7f8fa;
$bg-gray-color: #f7f7f7;
$bg-gainsboro-color: #d8d8d8;
$bg-address-color: #f7f8fa;
$bg-input-color: #F2F2F6;
// fontSize
$font-size-mini: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-title: 28px;
// fontFamily
$font-title-family: Roboto-Bold, Roboto;
$font-content-family: Roboto-Regular, Roboto;
// fontColor
$font-bg-color: #ebecff;
$font-title-color: #494949;
$font-content-color: #494949;
// border
$border-color: #ebebeb;
$border-light-color: #eee;
$border-gray-color: #e2e2e2;
$border: 1px solid $border-color;